.filters {
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 15px;

  @include rwd(1155) {
    margin-top: 0;
  }

  select,
  input,
  .btn {
    border: 1px solid #E0ECEB;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 500;
    //font-family: Sofia Pro;
    height: 42px;
    background-color: transparent;
  }

  .filter-item {
    margin: 0 5px;
  }

  .select-board {
    width: auto;
    max-width: 400px;
  }

  .select-date {
    max-width: 400px;
  }

  .select-date-shortcut .btn {
    box-shadow: none;
    outline: none;

    &:hover {
      background-color: #fff;
      border-color: #E0ECEB;
      color: var(--primary-n);
      box-shadow: none;
      outline: none;
    }

    &:focus,
    &:active,
    &:visited {
      box-shadow: none !important;
      outline: none !important;
    }
  }

  .select-date-shortcut .btn.active {
    color: #fff;
    border-color: #E0ECEB;
    background-color: var(--primary-n);

    &:focus,
    &:active,
    &:visited {
      box-shadow: none;
      outline: none;
    }
  }

}